@media screen and (max-width:979px)
{
	/* --- headers --- */
	h1
	{
		font-size: 40px;
	}
	h2
	{
		font-size: 22px;
	}
	h3
	{
		font-size: 16px;
	}
	.sentence
	{
		margin-top: 21px;
	}
	/* --- header --- */
	.header
	{
		width: 100%;
	}
	.header_left
	{
		width: 225px;
	}
	.box_header.margin
	{
		margin-top: 21px;
	}
	/* --- menu --- */
	.sf-menu li
	{
		margin-left: 10px;
	}
	/* --- page --- */
	.theme_page
	{
		width: 100%;
	}
	.page_left
	{
		width: 475px;
	}
	.page_right
	{
		width: 250px;
	}
	.page_margin_top
	{
		margin-top: 23px;
	}
	.top_hint
	{
		margin-top: -115px;
	}
	/* --- page header --- */
	.page_header_left
	{
		width: 460px;
	}
	/* --- footer --- */
	.footer
	{
		width: 100%;
	}
	/* --- slider --- */
	.slider li
	{
		height: 310px;
		background-size: auto 310px;
		-moz-background-size: auto 310px;
		-webkit-background-size: auto 310px;
		-o-background-size: auto 310px;
	}
	.slider_content_box
	{
		margin-top: -175px;
		min-height: 89px;
	}
	.controls.slider_navigation
	{
		margin-top: 50px;
	}
	/* --- home box --- */
	.home_box_container
	{
		margin-top: 30px;
	}
	.home_box
	{
		width: 204px;
		padding: 20px 23px 23px;
	}
	.home_box .header_left
	{
		width: 142px;
	}
	.home_box .news .banner_icon
	{
		display: none;
	}
	.home_box .news .text
	{
		width: 204px;
	}
	.home_box .more
	{
		margin-top: 10px;
	}
	/* --- items list --- */
	.items_list li
	{
		width: 179px;
		padding: 10px 0 10px 25px;
	}
	/* --- scrolling list --- */
	.scrolling_list_wrapper
	{
		margin-top: 12px;
	}
	.scrolling_list li
	{
		width: 232px;
	}
	.scrolling_list li .left
	{
		width: 200px;
	}
	/* --- upcoming classes --- */
	.upcoming_classes_wrapper
	{
		margin-top: 12px;
	}
	/* --- blog --- */
	.comment_box
	{
		margin-right: 23px;
	}
	.post
	{
		margin-top: 23px;
		margin-bottom: 23px;
	}
	.post_content, .post_content a.post_image img
	{
		width: 372px;
	}
	.post_content a.post_image
	{
		margin-bottom: 23px;
	}
	.post_content h2
	{
		margin-bottom: 6px;
	}
	.post_footer
	{
		margin-top: 10px;
	}
	.show_all
	{
		margin-top: 23px;
	}
	/* --- comments --- */
	#comments_list li.comment
	{
		width: 372px;
	}
	#comments_list li.comment, #comments_list .children
	{
		margin-top: 25px;
	}
	#comments_list .comment_details
	{
		width: 272px;
	}
	#comments_list .comment_details p
	{
		padding: 15px 0;
	}
	#comments_list .children li.comment
	{
		width: 332px;
	}
	#comments_list .children .comment_details
	{
		width: 232px;
	}
	/* --- comment form --- */
	.comment_form_container
	{
		margin-left: 103px;
	}
	.comment_form, .contact_form
	{
		margin-top: 23px;
	}
	.comment_form .left, .comment_form .right
	{
		width: 181px;
	}
	.contact_form .left
	{
		width: 170px;
	}
	.contact_form .right
	{
		width: 171px;
	}
	.comment_form .text_input, .comment_form textarea
	{
		width: 161px;
	}
	.contact_form .text_input
	{
		width: 150px;
	}
	.contact_form textarea
	{
		width: 151px;
	}
	/* --- sidebar box --- */
	.sidebar_box
	{
		width: 250px;
	}
	.sidebar_box .header_left, .footer_box .header_left
	{
		width: 188px;
	}
	/* --- training classes --- */
	.accordion .ui-accordion-content .text
	{
		width: 150px;
	}
	.accordion.wide .about_img
	{
		width: 372px;
		margin-bottom: 19px;
	}
	.accordion.wide .ui-accordion-content
	{
		padding: 23px 0;
	}
	/* --- tabs --- */
	.ui-tabs-panel
	{
		width: 372px;
	}
	.ui-tabs-panel p
	{
		padding: 20px 0 21px;
	}
	/* --- columns --- */
	.column_left, .column_right
	{
		width: 174px;
	}
	.column_left
	{
		margin-right: 23px;
	}
	.columns p
	{
		padding: 21px 0;
	}
	.columns.full_width .column_left
	{
		width: 351px;
	}
	.columns.full_width .column_right
	{
		width: 376px;
	}
	/* --- list --- */
	.list
	{
		padding: 21px 0;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		width: 156px;
		padding-left: 18px;
	}
	/* --- timetable --- */
	.timetable
	{
		margin-top: 23px;
	}
	.timetable th, .timetable td
	{
		padding: 7px;
	}
	/* --- isotope gallery --- */
	.gallery
	{
		width: 720px;
	}
	.gallery_box
	{
		margin-top: 23px;
	}
	.gallery_item_details_list .image_box
	{
		width: 375px;
		margin-right: 23px;
	}
	.gallery_item_details_list .details_box
	{
		width: 352px;
	}
	.gallery_item_details_list .image_box img
	{
		width: 375px;
	}
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right
	{
		width: 164px;
	}
	.gallery_item_details_list .details_box .subheader
	{
		margin-bottom: 10px;
	}
	/* --- contact details --- */
	.contact_details_about
	{
		width: 168px;
		padding: 10px;
	}
	.contact_details_map
	{
		width: 188px;
		height: 220px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 204px;
		padding: 20px 23px;
	}
	.footer_banner_box .content
	{
		width: 134px;
	}
	/* --- footer box --- */
	.footer_box_container
	{
		margin-top: 23px;
	}
	.footer_box
	{
		float: left;
		width: 227px;
		margin-left: 23px;
	}
	.footer_box.scrolling_recent_posts_widget
	{
		/*width: 250px;*/
		width: 208px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_left
	{
		width: 87px;
	}
	/* --- footer_social_icons --- */
	.footer_social_icons
	{
		margin-top: 23px;
	}
	/* --- opening hours --- */
	.opening_hours li
	{
		width: 207px;
	}
	/* --- widgets --- */
	.classes_widget .box_header
	{
		margin-bottom: 23px;
	}
	.widget_categories .box_header
	{
		margin-top: 21px;
	}
	.widget_categories ul
	{
		margin-top: 23px;
	}
	/*JOAN CONTROL PLAYER RANDOM YOUTUBE*/
	#player_youtube{width: 100%; height: 648px; margin-left:auto; margin-right:auto; background:#000}
		#youtube_iframe_content{width: 100%; height:648px}
	/*FOOTER PIE*/
	#nar_bar_jm {width: 100%;}
	.footer_container {width: 100%;}
	.box_header {float: none;}
	.textwidget {float: none;}
	.sidebar_box .header_right, .footer_box .header_right{width: 85px;}
	.copyright_area {padding: 10px; height: 35px;}
}
@media screen and (max-width:767px)
{
	/* --- headers --- */
	h1
	{
		font-size: 32px;
	}
	/* --- header --- */
	.header
	{
		width: 480px;
	}
	.box_header.margin
	{
		margin-top: 0;
	}
	/* --- menu --- */
	.sf-menu
	{
		display: none;
	}
	.mobile_menu
	{
		display: block;
	}
	/* --- page --- */
	.theme_page, .page_left, .page_right
	{
		width: 480px;
	}
	.page_right
	{
		margin-top: 50px;
	}
	/* --- page header --- */
	.page_header_left
	{
		width: auto;
	}
	.page_header_right
	{
		float: left;
		clear: both;
		margin-top: 14px;
	}
	.top_hint
	{
		margin-top: -85px;
	}
	/* --- footer --- */
	.footer
	{
		width: 480px;
		height: auto;
	}
	/* --- slider --- */
	.slider li
	{
		height: 243px;
		background-size: auto 243px;
		-moz-background-size: auto 243px;
		-webkit-background-size: auto 243px;
		-o-background-size: auto 243px;
	}
	.slider_content_box
	{
		margin-top: -138px;
		min-height: 80px;
	}
	.controls.slider_navigation
	{
		margin-top: 40px;
	}
	/* --- home box --- */
	.home_box
	{
		width: 434px;
		height: auto;
	}
	.home_box .header_left
	{
		width: 372px;
	}
	.home_box .news .banner_icon
	{
		display: block;
	}
	.home_box .news .text
	{
		width: 364px;
	}
	/* --- items list --- */
	.items_list li
	{
		width: 409px;
	}
	/* --- scrolling list --- */
	.scrolling_list li
	{
		width: 462px;
	}
	.scrolling_list li .left
	{
		width: 430px;
	}
	/* --- upcoming classes --- */
	.upcoming_classes_wrapper
	{
		height: 108px;
		margin-top: 8px;
	}
	/* --- blog --- */
	.post_content, .post_content a.post_image img
	{
		width: 377px;
	}
	/* --- comments --- */
	#comments_list li.comment
	{
		width: 377px;
	}
	#comments_list .comment_details
	{
		width: 277px;
	}
	#comments_list .children li.comment
	{
		width: 337px;
	}
	#comments_list .children .comment_details
	{
		width: 237px;
	}
	/* --- comment form --- */
	.comment_form .left
	{
		width: 183px;
	}
	.comment_form .right
	{
		width: 184px;
	}
	.comment_form .text_input 
	{
		width: 163px;
	}
	.comment_form textarea
	{
		width: 164px;
	}
	.contact_form .left, .contact_form .right
	{
		width: 235px;
	}
	.contact_form .text_input, .contact_form textarea
	{
		width: 215px;
	}
	/* --- sidebar_box --- */
	.sidebar_box
	{
		width: 480px;
	}
	.sidebar_box .header_left
	{
		width: 418px;
	}
	/* --- training classes --- */
	.accordion .ui-accordion-content .text
	{
		width: 380px;
	}
	.accordion.wide .about_img
	{
		width: 377px;
	}
	/* --- tabs --- */
	.ui-tabs-panel
	{
		width: 377px;
	}
	/* --- columns --- */
	.column_left, .column_right
	{
		width: 177px;
	}
	.columns.full_width .column_left, .columns.full_width .column_right
	{
		width: 480px;
		margin-right: 0;
	}
	.columns.full_width .column_right
	{
		margin-top: 23px;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		width: 159px;
	}
	/* --- timetable --- */
	.timetable
	{
		display: none;
	}
	.timetable.small
	{
		display: block;
	}
	/* --- isotope gallery --- */
	.gallery, 
	.gallery_item_details_list .image_box, 
	.gallery_item_details_list .image_box img, 
	.gallery_item_details_list .details_box
	{
		width: 480px;
	}
	.gallery_item_details_list .details_box
	{
		margin-top: 23px;
	}
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right
	{
		width: 164px;
	}
	/* --- contact details --- */
	.contact_details_about
	{
		width: 200px;
		padding: 20px;
	}
	.contact_details_map
	{
		width: 240px;
		height: 240px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 434px;
	}
	.footer_banner_box .content
	{
		width: 364px;
	}
	/* --- footer box --- */
	.footer_box
	{
		width: 480px;
		margin-left: 0;
		margin-top: 23px;
	}
	.footer_box:first-child
	{
		margin-top: 0;
	}
	.footer_box.scrolling_recent_posts_widget
	{
		width: 480px;
	}
	.footer_box .header_left
	{
		width: 418px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_container
	{
		padding-top: 23px;
	}
	.footer_contact_info_left
	{
		width: 260px;
	}
	.footer_contact_info_right
	{
		width: 200px;
	}
	/* --- opening hours --- */
	.opening_hours
	{
		margin-top: 12px;
	}
	.opening_hours li
	{
		width: 455px;
	}
	/* --- widgets --- */
	.widget_categories .box_header
	{
		margin-top: 0;
	}
	/*JOAN CONTROL PLAYER RANDOM YOUTUBE*/
	#player_youtube{width: 480px; height: 358px; margin-left:auto; margin-right:auto; background:#000}
		#youtube_iframe_content{width: 480px; height:358px}
	/*FOOTER PIE*/
	#nar_bar_jm {width: 480px;}
	.footer_container {width: 480px;}
	.box_header {float: none;}
	.textwidget {float: none;}
	.sidebar_box .header_right, .footer_box .header_right{width: 85px;}
	.copyright_area {padding: 10px; height: 35px;}
}
@media screen and (max-width:479px)
{
	/* --- header --- */
	h1
	{
		font-size: 24px;
	}
	h2
	{
		font-size: 18px;
	}
	h3
	{
		font-size: 14px;
	}
	/* --- header --- */
	.header
	{
		width: 300px;
	}
	/* --- menu --- */
	.mobile_menu
	{
		clear: both;
		float: none;
		text-align: center;
	}
	.mobile_menu select
	{
		width: 100%;
	}
	/* --- page --- */
	.theme_page, .page_left, .page_right, .sidebar_box
	{
		width: 300px;
	}
	.top_hint
	{
		display: none;
	}
	/* --- footer --- */
	.footer
	{
		width: 300px;
	}
	/* --- slider --- */
	.caroufredsel_wrapper_slider
	{
		/*top: 117px !important;*/
	}
	.slider li
	{
		height: 202px;
		background-size: auto 202px;
		-moz-background-size: auto 202px;
		-webkit-background-size: auto 202px;
		-o-background-size: auto 202px;
	}
	.slider_content_box
	{
		margin-top: -137px;
		min-height: 71px;
	}
	.controls.slider_navigation
	{
		margin-top: 46px;
	}
	/* --- home box --- */
	.home_box
	{
		width: 254px;
	}
	.home_box .header_left
	{
		width: 192px;
	}
	.home_box .news .text
	{
		width: 184px;
	}
	/* --- items list --- */
	.items_list li
	{
		width: 229px;
	}
	/* --- scrolling list ---*/
	.scrolling_list li
	{
		width: 282px;
	}
	.scrolling_list li .left
	{
		width: 250px;
	}
	/* --- upcoming classes --- */
	.upcoming_classes_wrapper
	{
		height: 114px;
		margin-top: 8px;
	}
	/* --- blog --- */
	.comment_box
	{
		margin-right: 0;
	}
	.comment_box .first_row
	{
		float: left;
		padding: 8px 10px;
		font-size: 11px;
	}
	.comment_box .second_row
	{
		display: inline;
		margin-top: 0;
		margin-left: 2px;
		font-size: 11px;
	}
	.comment_box .comments_number
	{
		float: right;
		padding: 9px 0 6px;
	}
	.comment_box, .post_content, .post_content a.post_image img
	{
		width: 300px;
	}
	.post_content
	{
		margin-top: 20px;
	}
	.categories
	{
		float: left;
		width: 236px;
	}
	.categories li
	{
		clear: both;
		margin-right: 0;
	}
	/* --- comments --- */
	#comments_list
	{
		margin-top: 23px;
	}
	#comments_list li.comment, #comments_list .comment_details
	{
		width: 300px;
	}
	#comments_list .comment_author_avatar
	{
		display: none;
	}
	#comments_list .children li.comment, #comments_list .children .comment_details
	{
		width: 260px;
	}
	/* --- comment form --- */
	.comment_form_container
	{
		margin-left: 0;
	}
	.comment_form .right, .contact_form .right
	{
		margin-top: 10px;
	}
	.comment_form .left, .comment_form .right
	{
		width: 300px;
	}
	.comment_form .text_input, .comment_form textarea
	{
		width: 280px;
	}
	.contact_form .left, .contact_form .right
	{
		width: 300px;
	}
	.contact_form .text_input, .contact_form textarea
	{
		width: 280px;
	}
	/* --- training classes --- */
	.accordion .ui-accordion-content .text
	{
		width: 200px;
	}
	.accordion.wide .about_img
	{
		width: 300px;
	}
	/* --- tabs --- */
	.ui-tabs-nav
	{
		width: 100%;
		margin-bottom: 21px;
	}
	.ui-tabs-nav li
	{
		float: left;
		margin-right: 2px;
		margin-top: 0;
	}
	.ui-tabs-nav li:last-child
	{
		margin-right: 0;
	}
	.ui-tabs-panel
	{
		width: 300px;
	}
	/* --- columns --- */
	.column_left, .column_right, .columns.full_width .column_left, .columns.full_width .column_right
	{
		width: 300px;
	}
	.column_left
	{
		margin-right: 0;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		width: 282px;
	}
	/* --- sidebar box --- */
	.sidebar_box .header_left
	{
		width: 238px;
	}
	.sidebar_box .categories
	{
		width: auto;
	}
	.sidebar_box .categories li
	{
		float: left;
		clear: none;
		margin-right: 2px;
	}
	/* --- controls --- */
	.controls .more, .controls .prev, .controls .next, .controls .close
	{
		width: 25px;
		height: 25px;
	}
	.controls .more:hover, .controls .prev:hover, .controls .next:hover, .controls .close:hover
	{
		background-position: 0 -25px;
	}
	.controls .more
	{
		background-image: url('../images/mobile_navigation_more.png');
	}
	.controls .prev
	{
		background-image: url('../images/mobile_navigation_previous.png');
	}
	.controls .next
	{
		background-image: url('../images/mobile_navigation_next.png');
	}
	.controls .close
	{
		background-image: url('../images/mobile_navigation_close.png');
	}
	/* --- isotope gallery --- */
	.gallery
	{
		width: 240px;
	}
	.gallery_item_details_list .image_box, 
	.gallery_item_details_list .image_box img, 
	.gallery_item_details_list .details_box,
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right
	{
		width: 300px;
	}
	/* --- contact details --- */
	.contact_details_about
	{
		width: 260px;
	}
	.contact_details_map
	{
		width: 300px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 254px;
	}
	.footer_banner_box .content
	{
		width: 184px;
	}
	/* --- footer box --- */
	.footer_box
	{
		width: 300px;
		/*height: 110px;*/height:235px;
	}
	.footer_box.scrolling_recent_posts_widget
	{
		width: 300px;
	}
	.footer_box .header_left
	{
		/*width: 238px;*/
		width:198px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_left
	{
		width: 155px;
	}
	.footer_contact_info_right
	{
		width: 125px;
	}
	/* --- opening hours --- */
	.opening_hours li
	{
		width: 275px;
	}
	/* --- widgets --- */
	.widget_archive li
	{
		width: 150px;
	}
	/*JOAN CONTROL PLAYER RANDOM YOUTUBE*/
	#player_youtube{width: 300px; height: 178px; margin-left:auto; margin-right:auto; background:#000}
		#youtube_iframe_content{width: 300px; height:178px}
	/*FOOTER PIE*/
	#nar_bar_jm {width: 300px;}
	.footer_container {width: 300px;}
	.box_header {float: none;}
	.textwidget {float: none;}
	.sidebar_box .header_right, .footer_box .header_right{width: 85px;}
	.copyright_area {padding: 10px; height: 35px;}	
}

